body.night {
    background: #000;
    color: #fff;
}

.about-us {
    background:#f7f5f6;
    padding: 31px 29px 31px 31px;
    margin: 0 24px 0px 24px;
    z-index: 1;
} 

.about-us-title {
    color: #757171;
    font-size: 14px; 
    margin: 0 0 20px 0;
    font-weight: 400;
    letter-spacing: .064em;
}

.about-us-text {
    font-size: 24px; 
    color: #333;
    font-weight: 600;
    line-height: 28.8px;
}

.about-us-accordion {
    margin-top: 25px;
}

.about-us-video-player-block-container {
    position: relative;
}

.about-us-wrapper {
    position: relative;
}

.about-us-wrapper .cat-block {
    position: absolute;
    top: -90px;
    left: calc(25% - 65px);
    z-index: 0;
    cursor: pointer;
    color: #333;
}

.about-us-wrapper .cat-block:hover {
    z-index: 2;
}

.about-us-wrapper .cat-block .cat {
    width: 130px;
}

.about-us-wrapper .cat-switchers {
    background: #f7f5f6;
    border: 2px solid white;
    padding: 12px;
}

.about-us-wrapper .leaf{
    width:35px;
    height:35px;
    position:absolute;
    background: url(/img/about-us/leaf.png);
    background-size: 100% 100%;
    z-index: 3;
}

#about-us-accordion .accordion-item {
    background-color: inherit;
    border: none;
    border-bottom: rgba(51, 51, 51, .2) 1px solid;
}

#about-us-accordion .accordion-button {
    background-color: inherit;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

#about-us-accordion .accordion-body {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    color: #858585
}

#about-us-accordion .accordion-button:not(.collapsed) {
    color: #333;
}

.accordion-button::after {
    background-image: url(/img/about-us/arrow-up.svg);
    background-size: 15px;
    background-position: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/img/about-us/arrow-down.svg);
    background-size: 15px;
}

.video-player-block {
    width: 100%;
    background: url(/img/about-us/background-video-player.webp) no-repeat;
    background-size: cover;
    min-height: 385px;
}

.blog {
    display: flex;
    flex-direction: column;   
    align-items: center;
    margin-top: 100px;
}

.blog-title {
    font-size: 34px;
    font-weight: 600;
    color:#333;
}

.blog-tips {
    margin: 25px 0 45px 0;
}

.blog-posts {
    display: flex; 
    height: 450px; 
    width: calc(100% - 48px); 
    justify-content: center; 
    font-size: 24px; 
    font-weight: 600; 
    line-height: 32; 
    align-items: center; 
    border: 1px solid rgba(33, 39, 54, 0.12);
    margin-bottom: 90px;
    max-width: 1200px;
}

.delivery-payment {
    background:#f7f5f6; 
    padding: 90px 24px 40px 24px;
}

.delivery-payment-container {
    max-width: 1200px;
}

.delivery-payment-block-icon {
    width: 50px;
    height: 50px;
}

.delivery-payment-block-caption {
  margin: 20px 0 20px 0;
  font-size: 22px;
  font-weight: 500;
}

.delivery-payment-block {
    margin-bottom: 50px;
}

.delivery-payment-block-text {
    font-size: 16px;
    font-weight: 400px;
    color: #707070;
    letter-spacing: .05em
}

.about-us-video-player-block-container {
    display: flex;
    margin: 0 auto;
    margin-top: 90px;
    max-width: 1200px;
}

.video-player-block {
    margin: 24px;
}

@media all and (max-width:767px) {
    .about-us, .video-player-block {
        width: calc(100% - 48px);
    }

    .about-us-video-player-block-container {
        flex-direction: column;
    }
}

@media all and (min-width:768px) {
    .about-us, .video-player-block {
        width: 50%;
    }
    .video-player-block {
        margin: 0 24px 0 0;
    }

    .delivery-payment-container {
        display: flex;
        margin: 0 auto;
    }

    .delivery-payment-block {
        margin-left: 15px;
        margin-right: 15px;
    }
}