.product-information{
    display: grid;
    grid-template-columns: auto;
    max-width: 1200px;
    margin: auto;
    position: relative;
    border: 3px solid green;
}
.product-information-image{
    display: flex;
    flex-direction: column;
}
.product-information-image a{
    color:rgba(36,36,36,1);
    font-family: 'poppins',"sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 24px;
    text-decoration: none;
    margin-left: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: calc(30px + (20 - 30) * ((100vw - 320px) / (1200 - 320)));
    width: calc(274px + (250 - 274) * ((100vw - 320px) / (1200 - 320)));

}
.product-information-image a::first-letter{
    text-transform: uppercase;
}
.container-carousel{
    display:flex;
    justify-content: space-evenly;
    width: calc(274px + (570 - 274) * ((100vw - 320px) / (1200 - 320)));
    height:calc(204px + (428 - 204) * ((100vw - 320px) / (1200 - 320)));
    margin-left: calc(10px + (0 - 10) * ((100vw - 320px) / (1200 - 320)));
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));
    /*border: 2px solid red;*/
}
.container-carousel img{
    object-fit: cover;
    width: calc(171px + (359 - 171) * ((100vw - 320px) / (1200 - 320)));
    height:calc(204px + (428 - 204) * ((100vw - 320px) / (1200 - 320)));
}

.container-carousel button{
    color:rgba(25,25,25);
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
    transition: 0.5s;
}

.container-carousel-row .slide-rows{
    display: flex;
    flex-direction: row;
    width: calc(274px + (570 - 274) * ((100vw - 320px) / (1200 - 320)));
    margin-top:  calc(15px + (25 - 15) * ((100vw - 320px) / (1200 - 320)));
    margin-left: calc(10px + (0 - 10) * ((100vw - 320px) / (1200 - 320)));
    /*border: 2px solid blue;*/
    /*background-color: red;*/
}

.slide-rows img{
    object-fit: cover;
    width: calc(30px + (88 - 30) * ((100vw - 320px) / (1200 - 320)));
    height:calc(36px + (104 - 36) * ((100vw - 320px) / (1200 - 320)));
    margin-right: calc(15px + (25 - 15) * ((100vw - 320px) / (1200 - 320)));
}
.active{
    border:1px solid black;
}
@media all and (min-width:768px) {
    .product-information{
    grid-template-columns: auto auto;
    }
}

/*Informational side*/
.product-information-description{
    display: flex;
    flex-flow: column wrap;
    border: 2px solid red;
}
.product-information-description h2{
    color:#7bb57c;
    border: 2px solid blue;
    font-size: 16px;
    line-height: 24px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.8px;
    text-transform: none;
    margin-top: 73px;
}
.product-information-description h2::first-letter{
    text-transform: uppercase;
}