.product-information{
    display: grid;
    grid-template-columns: auto;
    position: relative;
    top: 100px;
    border: 3px solid green;
}
.product-information-image{
    display: flex;
    flex-direction: column;
}
.product-information-image a{
    color:rgba(36,36,36,1);
    font-family: 'poppins',"sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 24px;
    text-decoration: none;
}
.product-information-image a::first-letter{
    text-transform: uppercase;
}
.container-carousel{
    display:flex;
    justify-content: space-evenly;
    width: calc(274px + (570 - 274) * ((100vw - 320px) / (1200 - 320)));
    height:calc(204px + (428 - 204) * ((100vw - 320px) / (1200 - 320)));
    border: 2px solid red;
}
.container-carousel img{
    object-fit: cover;
    width: calc(171px + (359 - 171) * ((100vw - 320px) / (1200 - 320)));
    height:calc(204px + (428 - 204) * ((100vw - 320px) / (1200 - 320)));
}

.container-carousel button{
    color:rgba(25,25,25);
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
    transition: 0.5s;
}

.container-carousel-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: calc(274px + (570 - 274) * ((100vw - 320px) / (1200 - 320)));
    border: 2px solid blue;
}

.slide-rows img{
    object-fit: cover;
    width: calc(30px + (88 - 30) * ((100vw - 320px) / (1200 - 320)));
    height:calc(36px + (104 - 36) * ((100vw - 320px) / (1200 - 320)));
}

.product-information-description{
    display: flex;
    flex-flow: column wrap;
}
.product-information-description h2{
    color:#7bb57c;
}
@media all and (min-width:768px) {
    .product-information{
    grid-template-columns: auto auto;
    }
}

.active{
    border:1px solid black;
}