.main-block {
  padding: 0 24px 0 24px;
  user-select: none;
}

div.main-block-homepage a { 
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
}


@media (min-width: 640px) {
  .main-block-two-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
}


.main-block-all-img {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 15px 0 15px;
}

.main-block-big-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.main-block-small-img-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.main-block-big-img-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.main-block-small-img-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-block-big-img-arrow {
  display: flex;
  align-items: center;
}

.main-block-big-img-arrow:hover{
  cursor: pointer;
}

.main-block-small-img-box-img {
  margin: 6px 6px 6px 6px;
  border: solid 1px rgb(237, 240, 245);
}

.active-arrow{
  margin: 6px 6px 6px 6px;
  border: solid 1px black;
}

.main-block-all-text {
  margin-top: 50px;
}

.main-block-text-instock {
  color: rgb(97, 168, 84);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.main-block-text-product-name {
  font-weight: 500;
  font-size: 22px;
}

.main-block-text-product-code {
margin-top: 8px;
font-family: 'Poppins', sans-serif;
font-size: 14px;
color: rgb(133, 133, 133);
}

.main-block-text-product-price {
  margin-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.main-block-text-line-one {
  margin: 24px 0 24px 0;
  padding-top: 10px;
  text-align: end;
  color: rgb(237, 240, 245);
}

.main-block-text-line-two {
  margin: 0px 0 16px 0;
  text-align: end;
  color: rgb(237, 240, 245);
}

.main-block-text-line-two hr{
  padding-top: 0;
}

.main-block-text-quantity-button{
  display: grid;
  grid-template-columns: 1fr 4fr ;
  /* grid-column-gap: 10px; */
}

div.main-block-text-quantity{
  padding: 0px 12px 8px 12px;
  margin: 0 16px 16px 0;
  
}

div.main-block-text-quantity input{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(197, 203, 214);
  border-radius: 5px;
  text-align: center;
}



div.main-block-text-button a{
  text-decoration: none;
  color: white;
  background-color: rgb(123, 181, 124);
  display: inline-block;
  width: 100%;
  height: 40%;
  border-radius: 5px;
  text-align: center;
  padding-top: 0.8rem;
  box-shadow: rgb(39, 37, 40, 0.28) 0px 3px 10px 0px;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  cursor: pointer;
}

div.main-block-text-button a:hover{
background-color: black;
}

.main-block-text-all-description{
  margin-top: 24px;
}

.main-block-text-description{
  padding: 0 10px 0px 10px;
  font-size: 14px;
  font-weight: 600;
}

.main-block-text-abuot{
  color: rgb(112, 112, 112);
  font-size: 16px;
  font-weight: 400;
}


