/*Font style Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*Font style Hind*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
/*Spring collection*/
@import "./spring_collection.css" ;

* {
    padding: 0;
    margin: 0;
}
:root {
    font-family: "poppins", "sans-serif";
}

