.our-fave-title-block{
    display: flex;
    flex-direction: column;
    margin: 50px 15px 0 15px;
    font-family: 'Poppins', sans-serif;
    
}

div.our-fave-title span{
    display: block;
    font-size: 30px;
    font-weight: 600;
    padding: 0 15px 0 15px;
    
}

div.our-fave-subtitle p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    padding: 0 15px 0 15px;
}

.our-fave-products-names{
    display: flex;
    margin: 0 0 0px 15px;
    padding: 0 15px 0 15px;
}

.our-fave-products-block{
    margin-top: 45px;
}

div.our-fave-products-names span.armchairs, 
div.our-fave-products-names span.lamps,
div.our-fave-products-names span.tables
{
    padding: 15px 20px 15px 20px;
}

/* Armchairs */
div.our-fave-products-armchairs{
    margin-top: -30px;
    padding: 0 15px 0 15px;
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 640px) {
    div.our-fave-products-armchairs{
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
    }
}

@media (min-width: 860px) {
    div.our-fave-products-armchairs{
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 10px;
    }
}


.our-fave-armchairs-elements{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .our-fave-armchairs-elements-img{
    width: calc(272px + (272 - 272) * ((100vw - 320px) / (1200 - 320)));
    height: calc(272px + (272 - 272) * ((100vw - 320px) / (1200 - 320))); 
} */

div.our-fave-armchairs-elements-img img {
    width: 90%;
    height: 100%;
   
    }

div.our-fave-armchairs-elements-text p{
    margin-top: 8px;
    color: black;
}

div.our-fave-armchairs-elements-text a{
    text-decoration: none;
}

.our-fave-armchairs-elements-price p{
    color: rgb(123, 181, 124);
    font-weight: 700;
    margin-top: 16px;
}

/* Armchair with out stock */
.our-fave-armchairs-elements-out-stock{
    background-color: rgb(255, 221, 217);
    padding: 4px 8px 4px 8px;
    margin-top: -32px;
    color: rgb(204, 56, 51);
}

.our-fave-armchairs-elements-img-outstock{
    display: flex;
    flex-direction: column;
}

/* Lamps */
div.our-fave-products-lamps{
    margin-top: -30px;
    padding: 0 15px 0 15px;
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 640px) {
    div.our-fave-products-lamps{
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
    }
}

@media (min-width: 860px) {
    div.our-fave-products-lamps{
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 10px;
    }
}

.our-fave-lamps-elements{
    margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.our-fave-lamps-elements-img img{
    width: 90%;
    height: 100%;
}

.our-fave-lamps-elements-text p{
    margin-top: 8px;
    color: black;

}

.our-fave-lamps-elements-text a{
    text-decoration: none;
}

.our-fave-lamps-elements-price p{
    color: rgb(123, 181, 124);
    font-weight: 700;
    margin-top: 16px;
}

/* Tables */
div.our-fave-products-tables{
    margin-top: -30px;
    padding: 0 15px 0 15px;
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 640px) {
    div.our-fave-products-tables{
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
    }
}

@media (min-width: 860px) {
    div.our-fave-products-tables{
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 10px;
    }
}

.our-fave-tables-elements{
    margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center; 
}

/* First img tab-tables - fixed */
#fixed-img-upi-table{
    margin-bottom: -10px;
}

.our-fave-tables-elements-img img{
    width: 90%;
    height: 100%;
}

.our-fave-tables-elements-text p{
    margin-top: 8px;
    color: black;
}

.our-fave-tables-elements-text a{
    text-decoration: none;
}

.our-fave-tables-elements-price p{
    color: rgb(123, 181, 124);
    font-weight: 700;
    margin-top: 16px;
}

/* Buttons */
div.our-fave-elements-button{
    margin-top: 24px;
}

div.our-fave-elements-button a{
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    font-family: 'Hind', sans-serif;
    color: rgb(182, 182, 182);
    font-size: 10.8px;
    font-weight: 700;
    border: 2px solid;
    border-color: rgb(123, 181, 124);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

div.our-fave-elements-button a:hover{
    background-color: rgb(123, 181, 124);
    color: white;
}

/* bootstrap tabs */
#our-fave-products-content{
    font-family: 'Poppins', sans-serif;
}

#our-fave-products{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}

.nav-link {
  color: rgb(182, 182, 182);
}
  .nav-link:hover,
  .nav-link:focus {
      color: black;
      /* text-decoration: if($link-hover-decoration == underline, none, null); */
    }

/* bootstrap carousel */
#carousel-partners{
    padding: 50px 0 80px 0;
    
}

.carousel-control-prev span.carousel-control-prev-icon,
.carousel-control-next span.carousel-control-next-icon{
    background-color: black;
    border-radius: 50%;
}
    