/*Best Selling Products Section*/

.best-selling{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap:25px;
}
.best-selling__title {
    color: #333333;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    width: calc(272px + (1170 - 272) * ((100vw - 320px) / (1440 - 320)));
    height: calc(153px + (98 - 153) * ((100vw - 320px) / (1440 - 320)));;
}
.best-selling__title h2 {
    font-size:calc(30px + (38 - 30) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 600;
    line-height:calc(36px + (45.6 - 36) * ((100vw - 320px) / (1440 - 320)));
    margin: 0;
}
.best-selling__title p {
    font-weight: 400;
    line-height: 28.08px;
    font-size: 18px;
    margin: 0;
}

.best-selling__products{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: calc(50px + (30 - 50) * ((100vw - 320px) / (1440 - 320))) auto auto auto;
    padding: 0 15px;
}
.best-selling__products  img{
    width: calc(272px + (370 - 272) * ((100vw - 320px) / (1440 - 320)));
    height: calc(272px + (370 - 272) * ((100vw - 320px) / (1440 - 320)));
    object-fit: cover;
}
.best-selling__products__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: word-break;
}
.container__title,.container__price,.container__button{
     width: calc(272px + (370 - 272) * ((100vw - 320px) / (1440 - 320)));
}
.container__title {
    cursor: pointer;
    display: inline-block;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 500;
    line-height: calc(23.94px + (26.6 - 23.94) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: calc(0.9px + (1 - 0.9) * ((100vw - 320px) / (1440 - 320)));
    color: rgb(51,51,51);
    margin: calc(8px + (24 - 8) * ((100vw - 320px) / (1440 - 320))) 0 0;
    text-decoration: none;
    text-align: center;
}

.container__price {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1440 - 320)));
    margin: 16px 0 0;
    font-weight: 700;
    letter-spacing: calc(0.9px + (1 - 0.9) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(23.94px + (26.6 - 23.94) * ((100vw - 320px) / (1440 - 320)));
    color: #7bb57c;
    text-align: center;

}

.container__button {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 10.8px;
    height: 42px;
    width: 111.14px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Hind", "sans-serif";
    line-height: 10.8px;
    text-align: center;
    background-color: #7bb57c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 24px 0 0;
}

@media all and (min-width:767px) and (max-width:991px) {
    .best-selling{
    grid-template-columns: auto auto;
    }
    .span_product{
        grid-column: 1 /   3;
    }
}
@media all and (min-width:992px) {
.best-selling{
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
    }
}
/*Spring 2020 collection Section*/
.parallax__title {
    font-weight: 700;
    line-height: 78.1px;
    font-size: 71px;
    color: #333;
}
.parallax__title span {
    color: #7bb57c;
}
.parallax__titleDescription {
    font-weight: 400;
    line-height: 28.08px;
    font-size: 18px;
    color: rgb(51, 51, 51);
}
/*To do*/
.parallax__button {
    width: 154.18px;
    height: 52px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Hind", "sans-serif";
    line-height: 12px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #7bb57c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.parallax__button span {
    margin-left: 8px;
    vertical-align: baseline;
}

/*Black & White furniture Section*/
/*Bright furniture*/
.bright-container__header p {
    font-weight: 500;
    line-height: 18.62px;
    letter-spacing: 0.896px;
    font-size: 14px;
    color: rgb(44, 44, 44);
}
.bright-container__title h4 {
    font-weight: 500;
    line-height: 28.6px;
    font-size: 22px;
    color: rgb(51, 51, 51);
}
.bright-container__footer p {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.8px;
    font-size: 16px;
    color: rgb(122, 122, 122);
}

/*Bright furniture*/

.black-container__header p {
    font-weight: 500;
    line-height: 18.62px;
    letter-spacing: 0.896px;
    font-size: 14px;
    color: rgb(169, 169, 169);
}
.black-container__title h4 {
    font-weight: 500;
    line-height: 28.6px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background-color: darkgrey;
}
.black-container__footer p {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: darkgrey;
}
.bright-container__button,
.black-container__button {
    width: 145.56px;
    height: 42.4px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Hind", "sans-serif";
    line-height: 10.8px;
    font-size: 10.8px;
    color: #fff;
    text-align: center;
    background-color: #7bb57c;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}